.settings-option-style-select {
  color: var(--secondary-text-color);
  background: var(--input-background-color);
  appearance: none;
  outline: none;
  border: none;
  border-radius: inherit;
  padding: 4px;
  width: 100%;
  cursor: pointer;

  &[data-valid="false"] {
    box-shadow: inset 0 0 0 2px var(--negative-color);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--primary-text-color);
  }
}
