.settings-option {
  .settings-option-separator {
    background: var(--separator-color);
    margin: 6px 0;
    width: 100%;
    height: 1px;
  }

  .settings-option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    min-height: 34px;
    padding: 2px 0;
  }
}

.settings-option[data-skeleton] {
  .settings-option-label {
    font-size: 17px;
    width: 100%;
  }
}

[data-injected="true"] .settings-option[data-exists="true"] .settings-option-label::before {
  content: '✔';
  color: var(--positive-color);
  padding-right: 4px;
}

[data-injected="true"] .settings-option[data-exists="false"] .settings-option-label {
  color: var(--placeholder-text-color);
}
