.settings-section-title-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  .settings-section-title {
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--primary-text-color);
    word-break: break-word;
    padding-bottom: 2px;
    margin: 0;
  }
}

.settings-section-creator-input {
  &[data-valid="false"] .settings-creator-input-field {
    box-shadow: inset 0 0 0 2px var(--negative-color);
  }
}

.settings-section .settings-creator-input-field {
  font-size: 17px;
  font-weight: bold;
  color: var(--primary-text-color);
}
