@import "variables.css";
@import "search.css";
@import "toggle.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.extension {
  background: var(--secondary-background-color);
  width: 270px;
}

.extension-header {
  display: inline-flex;
  align-items: center;
  background: var(--primary-background-color);
  border-bottom: 1px solid var(--separator-color);
  padding: 15px;
  width: 100%;
}

.extension-settings {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 350px;
  padding: 15px;
  row-gap: 15px;
}

.extension-settings::-webkit-scrollbar {
  width: 8px;
}

.extension-settings::-webkit-scrollbar-track {
  background: var(--secondary-background-color);
}

.extension-settings::-webkit-scrollbar-thumb {
  background: var(--primary-background-color);
}

.extension-setting {
  padding: 12px;
  background: var(--primary-background-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
}

.extension-setting-title {
  font-size: 17px;
  color: var(--primary-text-color);
  padding-bottom: 2px;
  margin: 0;
}

.extension-setting-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  min-height: 34px;
  padding: 2px 0;
}

.extension-setting-separator {
  background: var(--separator-color);
  margin: 6px 0;
  width: 100%;
  height: 1px;
}

.extension-setting-label {
  color: var(--secondary-text-color);
  pointer-events: none;
  font-weight: bold;
  font-size: 13px;
}
