.extension-setting-toggle {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 1;
}

.extension-setting-toggle[data-disabled="true"] {
  filter: brightness(85%) opacity(35%);
}

.extension-setting-toggle[data-disabled="true"] .extension-setting-toggle-input {
  cursor: not-allowed;
}

.extension-setting-toggle-input {
  position: absolute;
  transform: translate(calc(var(--toggle-height) * -1), calc(var(--toggle-height) * -1));
  border-radius: var(--toggle-border-radius);
  height: var(--toggle-height);
  width: var(--toggle-width);
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.extension-setting-toggle-cover {
  background: var(--toggle-secondary-color);
  border-radius: var(--toggle-border-radius);
  padding: var(--toggle-padding);
  height: var(--toggle-height);
  width: var(--toggle-width);
  transition: 0.18s ease;
}

.extension-setting-toggle-switch {
  background: var(--toggle-switch-color);
  border-radius: var(--toggle-border-radius);
  height: calc(var(--toggle-height) - (var(--toggle-padding) * 2));
  width: calc(var(--toggle-height) - (var(--toggle-padding) * 2));
  margin-left: 0px;
  transition: 0.12s ease;
}
