@import '@popup/styles/variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

#app {
  background: var(--secondary-background-color);
  width: 270px;
}

svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
}
